
.jumbotron {
    margin-bottom: 30px;
    background-image: url(fruit_background.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    border-radius: 0px;;
  }

.btn-info{
  color:white;
  background-color: grey;
  border:0px;
}

.container{
  margin-left:25px;
  margin-right:25px
}

.btn-info:hover{
  background-color: black;
  color:white
}

.display-3{
  font-weight: bold;
}

h2{
  font-weight: bold;
}
